<ion-header [translucent]="true">

  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>


  </ion-toolbar> 
   
</ion-header>

<ion-content color="warning" style="text-align: center;">
  <ion-col>
    <ion-img src="assets/img/profesor.png"></ion-img>
    <ion-button color="danger" expand="full" href="asistencia/profesor">Profesor</ion-button>
  </ion-col>
  <br><br><br>
  <ion-col>
    <ion-img src="assets/img/alumnos.png"></ion-img>
    <ion-button color="primary" expand="full" href="asistencia/alumno">Alumnos</ion-button>
  </ion-col>  
</ion-content>